# TODO:
# https://cicube.io/blog/github-actions-cache/#docker-layer-caching
---
name: 'Payara Server Full (Community Edition)'

on:
  workflow_dispatch: {}
  
  schedule:
    - cron: "15 02 */14 * *" # Every 14-day @02:15
  
  release:
    types:
      - published

env:
  #builder_image: 'docker.io/debian:latest'
  builder_image: 'docker.io/alpine/ansible:latest'
  version_activemq_rar: '6.1.8'
  version_logback_delegation: '1.0.0'
  version_logback_encoder: '9.0'
  version_logback_libs: '1.0.0'
  version_mssql_jdbc: '10.2.1'
  version_postgres_jdbc: '42.3.6'

jobs:
  build_payara_container:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    permissions:
      packages: write
      contents: read
    
    strategy:
      fail-fast: true
      matrix:
        runtime_image: 
          - 'docker.io/azul/zulu-openjdk-debian:25-jre-headless'
        payara_major:
          - '6'
        payara_minor:
          - '2025.11'
        include:
          - payara_major: '7'
            payara_minor: '2025.1'
            runtme_image: 'docker.io/azul/zulu-openjdk-debian:25-jre-headless'
        exclude: []
    
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Setup Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      -
        name: Login to docker hub
        uses: docker/login-action@v3
        with:
          registry: registry.hub.docker.com
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to ghcr.io
        if: false
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Configure Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            registry.hub.docker.com/kdsda/payara-server-ce
          flavor: |
            prefix=${{ matrix.payara_major }}.${{ matrix.payara_minor }}-
          tags: |
            type=schedule,pattern={{date 'YYYYMMDD-HHmmss' tz='Europe/Oslo'}}
            type=ref,event=branch
      -
        name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: "{{ defaultContext }}:src/docker"
          file: Dockerfile
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
          secrets: |
            "payara_admin_secret=${{ secrets.PAYARA_ADMIN_SECRET }}"
          build-args: |
            builder_image=${{ env.builder_image }}
            runtime_image=${{ matrix.runtime_image }}
            bld_payara_version_major=${{ matrix.payara_major }}
            bld_payara_version_release=${{ matrix.payara_minor }}
            bld_activemq_rar_version=${{ env.version_activemq_rar }}
            bld_logback_delegation_version=${{ env.version_logback_delegation }}
            bld_logback_encoder_version=${{ env.version_logback_encoder }}
            bld_logback_libs_version=${{ env.version_logback_libs }}
            bld_mssql_jdbc_version=${{ env.version_mssql_jdbc }}
            bld_postgres_jdbc_version=${{ env.version_postgres_jdbc }}
          push: true
