name: 'Payara Server Full (Community Edition)'

on:
  workflow_dispatch: {}
  
  schedule:
    - cron: "15 02 */14 * *" # Every 14-day @02:15
  
  release:
    types:
      - published

env:
  builder_image: 'docker.io/debian:latest'
  payara_admin_secret: ${{ secrets.PAYARA_ADMIN_SECRET }} # Default: Admin123
  versions:
    activemq_rar: '6.1.8'
    logback_delegation: '1.0.0'
    logback_encoder: '9.0'
    logback_libs: '1.0.0'
    mssql_jdbc: '10.2.1'
    postgres_jdbc: '42.3.6'

jobs:
  build_payara_container:

    permissions:
      packages: write
      contents: read
    
    strategy:
      fail-fast: true # One failed build => fail all
      matrix:
        os: ['ubuntu-latest']
        runtime_image: 
          - 'docker.io/azul/zulu-openjdk-debian:25-jre-headless'
        payara_major:
          - '6'
        payara_minor:
          - '2025.10'
        include:
          - payara_major: '7'
            payara_minor: 2025.1.Beta1
        exclude: []

    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Setup Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      -
        name: Login to docker.io
        if: true
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to ghcr.io
        if: false
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Configure Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            registry.hub.docker.com/kdsda/payara-server-ce
          flavor: |
            prefix="${{ matrix.payara_major }}.${{ matrix.payara_minor }}-"
          tags: |
            type=schedule,pattern={{date 'YYYYMMDD-HHmmss' tz='Europe/Oslo'}}
            type=ref,event=branch
      -
        name: Build and Push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: "{{ defaultContext }}:/src/docker"
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            builder_image="${{ env.builder_image }}"
            runtime_image="${{ matrix.runtime_image }}"
            bld_payara_admin_secret="${{ env.payara_admin_secret }}"
            bld_payara_version_major="${{ matrix.payara_major }}"
            bld_payara_version_release="${{ matrix.payara_minor }}"
            bld_activemq_rar_version="${{ env.versions.activemq }}"
            bld_logback_delegation_version="${{ env.versions.logback_delegation }}"
            bld_logback_encoder_version="${{ env.versions.logback_encoder }}"
            bld_logback_libs_version="${{ env.versions.logback_libs }}"
            bld_mssql_jdbc_version="${{ env.versions.mssql_jdbc }}"
            bld_postgres_jdbc_version="${{ env.versions.postgres_jdbc }}"
